@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f191a;
  color: #f6ede3;
  font-family: "Syne", sans-serif;
}

@mixin bg-gradient {
  background-image: linear-gradient(
    to right,
    #d3cae2,
    #eac0d9,
    #feb8be,
    #ffb899,
    #e6c17a
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1,
h2,
h3,
h4,
h5 {
  width: fit-content;
  font-weight: 800;
  @include bg-gradient;
}

h1 {
  font-size: 3.438rem;
}

h3 {
  font-size: 2.125rem;
}

p {
  font-size: 2.125rem;
  font-weight: 400;

  span {
    font-weight: 800;
    @include bg-gradient;
  }
}

.container {
  max-width: 900px;
  padding: 5rem 24px;
  margin: 0 auto;

  p {
    margin-top: 3rem;
  }
}

.scroll {
  $scroll: &;
  position: relative;
  display: block;
  overflow: hidden;

  &__wrap {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 24px;

    &__outer {
      display: flex;
      align-items: center;
      justify-content: center;

      #{$scroll}__title {
        height: fit-content;
        z-index: 1;
        position: absolute;
        inset: 50%;
        transform: translate(-50%, -50%);
        padding: 24px;
        backdrop-filter: blur(8px);
        mix-blend-mode: difference;
        text-align: center;
        border-radius: 1rem;
      }
    }

    &__inner {
      position: relative;
      aspect-ratio: 1.2;
      width: 100%;

      &__items {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        gap: 24px;

        &__item {
          display: block;
          object-fit: cover;
          width: 100%;
          min-width: 100%;
          border-radius: 1rem;
        }
      }
    }
  }
}
